.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container{
  display: inline-block;
  border: 1px solid black;
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-square{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.playagain-btn{
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 8px 13px;
  background-color: red;
  color: white;
  
}

.playagain-btn:hover{
  transform: scale(1.1);
  background-color: rgb(198, 11, 11);
}

.txtcenter{
  text-align: center;
}